{% extends 'layout/base.html' %}
{% load crispy_forms_tags %}

{% block title %}{{ resume }} | {{ block.super }}{% endblock %}

{% block headline %}
	<h2>{{ resume }}</h2>
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading heading">مشخصات دانشجو</div>
			
			<div class="panel-body">
				<ul class="list-group list-no-style">
					<li class="list-group-item">نام: {{ resume.student.user.first_name }}</li>
					<li class="list-group-item">
						نام خانوادگی: {{ resume.student.user.last_name }}
					</li>
					<li class="list-group-item">سن: {{ resume.student.age }}</li>
					<li class="list-group-item">آدرس: {{ resume.student.address }}</li>
					<li class="list-group-item">شماره تماس: {{ resume.student.phone }}</li>
					<li class="list-group-item">دانشگاه: {{ resume.student.college }}</li>
				</ul>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading heading">تخصص ها</div>
			
			<div class="panel-body">
				<ul class="list-group list-no-style">
					{% for skill in resume.skill_set.all %}
						<li class="list-group-item">
							<strong>{{ skill.name }}</strong>
							<span class="pull-left">سطح: {{ skill.level }}</span>
						</li>
					{% endfor %}
				</ul>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
	    <div class="panel panel-primary">
	        <div class="panel-heading heading">توضیحات</div>
			
			<div class="panel-body">
				{{ resume.description|linebreaks }}	
	        </div>
	    </div>
	</div>
	<hr>
</div>

<div class="row" style="margin-top: 30px;">
    <div class="col-md-12">
	    <div class="panel panel-primary">
	        <div class="panel-heading heading">نظرات کاربران</div>
			
			<div class="panel-body">
				{% for comment in resume.comment_set.all %}
			<div class="panel panel-info">
				<div class="panel-heading">
					<a href="{% url 'students:comment_delete' pk=comment.pk %}" class="close pull-right" aria-hidden="true">&times;</a>
					<h4 class="panel-title">
						&nbsp;{{ comment.student.user }}
						در تاریخ
						{{ comment.date }}

					</h4>
				</div>
				<div class="panel-body">
					{{ comment.text|linebreaks }}
				</div>	
			</div>
		{% endfor %}

	        </div>
	    </div>
	</div>
	<hr>
</div>


<div class="row">
	<div class="col-sm-8">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h1 class="panel-title">ارسال نظر</h1>
			</div>
			<div class="panel-body">
				<form method="post" action="">
					{% csrf_token %}
					{{ form|crispy }}
					<input type="submit" value="ارسال" class="btn btn-primary">
				</form>
			</div>
		</div>
	</div>
</div>

{% endblock %}
