{% extends 'layout/base.html' %}
{% load crispy_forms_tags %}

{% block title %}ثبت نام | {{ block.super }}{% endblock %}

{% block headline %}
	<h2>ثبت نام در سایت رزومه</h2>
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-primary">
            <div class="panel-heading heading">ثبت نام دانشجو</div>
			
			<div class="panel-body">
				<form method="post" action="">
					{% csrf_token %}
	    			{{ form|crispy }}
	    			<input type="submit" name="" value="ثبت نام" class="btn btn-primary">
				</form>            
            </div>
        </div>
    </div>
</div>

{% endblock %}